@page "/"

<h1>Team Introduction</h1>

<form>
    <label for="name">Enter Full Name:</label><br>
    <input type="text" id="name" name="name"><br><br>

    <label for="funFact">Enter Fun Fact:</label><br>
    <input type="text" id="funFact" name="funFact"><br><br>

    <input type="submit" value="Submit">
</form>

